<a href="https://colab.research.google.com/github/AveryGaoo/Colab-notebooks/blob/main/Lab01_Modified_version.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 1）Verify if a value is integer
x = input("Enter a value: ")
try:
    a = int(x)
    print("This is an integer.")
except ValueError:
    print("This is NOT an integer.")

Enter a value: 9.1
This is NOT an integer.

In [ ]:
# 2)Verify if a value is even
x = input("Enter a value: ")

try:
  num = int(x)
  if num % 2 == 0:
    print("This is an even number.")
  else:
    print("This is an odd number.")
except ValueError:
  print("This is NOT an integer.")

In [8]:
# 3) Insert two numbers. Is the first is bigger than the second?
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

if a > b:
    print("The first number is greater than the second.")
else:
    print("The first number is not greater than the second.")

Enter first number: 5
Enter second number: 3
The first number is greater than the second.

In [7]:
# 4) Verify if one value is multiple of another
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

if b != 0 and a % b == 0:
    print(f"{a} is a multiple of {b}.")
else:
    print(f"{a} is NOT a multiple of {b}.")

Enter first number: 6
Enter second number: 2
6 is a multiple of 2.

In [5]:
# 5) Calculate the interest earn by an investor that invested a capital of 200 during 3 years with an interest rate of 3%. (I= P*R*T)
P = 200  #principal
R = 0.03
T = 3
simple_interest = P * R * T
print("Simple Interest:", simple_interest)

Simple Interest: 18.0

In [6]:
"""
6）Capital that an investor obtained after investing a capital of 200
during 3 years with an interest rate of 3%. (Compound interest)
"""
# A = P * (1 + R)^T
P = 200
R = 0.03
T = 3
compound_interest = P * (1 + R) ** T
print("Compound Interest:", compound_interest)

Compound Interest: 218.5454

In [10]:
"""
7) Calculate your BMI (Body Mass Index)
BMI=mass(kg)/height^2(m)
"""
mass = 62
height = 1.7
BMI = mass / (height ** 2)
print("BMI:", BMI)

BMI: 21.453287197231838

In [11]:
# 8) Calcule the Golden ration
import math
golden_ratio = (1 + math.sqrt(5)) / 2
print("Golden Ratio:", golden_ratio)

Golden Ratio: 1.618033988749895

In [12]:
"""
9)Calculete the NPV (Net present value) of an investment,
considering an initial investment of 10000, the following Cashflows
2000,3000, 4000, 4000 and 5000 and a discount rate of 10%.
"""
I = 10000
FV = [2000, 3000, 4000, 4000, 5000]
k = 0.10

NPV = sum(cf / (1 + k)**(i+1) for i, cf in enumerate(FV)) - I
print("NPV =", round(NPV, 2))

NPV = 3139.44

In [13]:
# 10)
from datetime import date

name = input("Enter your name: ")
age = int(input("Enter your age: "))

today = date.today()
birth_year = today.year - age

print(name, "was born in", birth_year)

Enter your name: Gao
Enter your age: 26
Gao was born in 1999

In [14]:
# 11)
forename = input("Enter your forename(s): ")
surname = input("Enter your surname(s): ")

# Combine into full name
name = forename + " " + surname

# Create different versions
nameBig = name.upper()
nameTitle = name.title()
nameSmall = name.lower()
nameCapitalized = name.capitalize()

# Print results
print("Complete name:", name)
print("nameBig:", nameBig)
print("nameTitle:", nameTitle)
print("nameSmall:", nameSmall)
print("nameCapitalized:", nameCapitalized)

Enter your forename(s): RUI
Enter your surname(s): GAO
Complete name: RUI GAO
nameBig: RUI GAO
nameTitle: Rui Gao
nameSmall: rui gao
nameCapitalized: Rui gao

In [15]:
# 12)
text = "abracadabra"
pos = text.find("da")
print(pos)
#What happens if does not find? output -> -1

6