<a href="https://colab.research.google.com/github/AveryGaoo/Colab-notebooks/blob/main/Lab03_RUIGAO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 3
In the following cell you have several lists.

In [ ]:
#list of 007 movies where Sean Connery features James Bond
moviesSeanConnery = ["Dr. No (1962)",
"From Russia with Love (1963)",
"Goldfinger (1964)",
"Thunderball (1965)",
"You Only Live Twice (1967)",
"Diamonds Are Forever (1971)",
"Never Say Never Again (1983)"]

#list of 007 movies where David Neven features James Bond
moviesDavidNeven=["Casino Royale (1967)"]

#list of 007 movies where George Lazenby features James Bond
moviesGeorgeLazenby=["On Her Majesty's Secret Service (1969)"]

#list of 007 movies where Roger Moore features James Bond
moviesRogerMoore=[ "Live and Let Die (1973)",
"The Man with the Golden Gun (1974)",
"The Spy Who Loved Me (1977)",
"Moonraker (1979)",
"For Your Eyes Only (1981)",
"Octopussy (1983)",
"A View to a Kill (1985)"]

#list of 007 movies where Timothy Dalton features James Bond
moviesTimothyDalton=[
"The Living Daylights (1987)",
"Licence to Kill (1989)"
]

#list of 007 movies where Pierce Brosnan features James Bond
moviesPierceBrosnan=[
"GoldenEye (1995)",
"Tomorrow Never Dies (1997)",
"The World Is Not Enough (1999)",
"Die Another Day (2002)"
]

#list of 007 movies where Daniel Craig features James Bond
moviesDanielCraig=["Casino Royale (2006)",
"Quantum of Solace (2008)",
"Skyfall (2012)",
"Spectre (2015)"]

**1)** Create a list of lists (movies007). The list will be composed by each list of movies featured by each actor.

In [ ]:
#创建一个列表的列表（movies007）。该列表将由每个演员参演的电影列表组成。

#Create a list of lists (movies007). This list will contain each actor's list of movies.
Movies = [moviesSeanConnery, moviesDavidNeven, moviesGeorgeLazenby,
             moviesRogerMoore, moviesTimothyDalton, moviesPierceBrosnan,
             moviesDanielCraig]

# Initialize an empty list to store all actors' movie lists  初始化一个空列表，用于存放所有演员的电影列表
Movies007 = []

for each_movies in Movies:   # Loop through each actor's movie list
    Movies007.append(each_movies)  # Append each actor's movie list to Movies007


print(Movies007)

[['Dr. No (1962)', 'From Russia with Love (1963)', 'Goldfinger (1964)', 'Thunderball (1965)', 'You Only Live Twice (1967)', 'Diamonds Are Forever (1971)', 'Never Say Never Again (1983)'], ['Casino Royale (1967)'], ["On Her Majesty's Secret Service (1969)"], ['Live and Let Die (1973)', 'The Man with the Golden Gun (1974)', 'The Spy Who Loved Me (1977)', 'Moonraker (1979)', 'For Your Eyes Only (1981)', 'Octopussy (1983)', 'A View to a Kill (1985)'], ['The Living Daylights (1987)', 'Licence to Kill (1989)'], ['GoldenEye (1995)', 'Tomorrow Never Dies (1997)', 'The World Is Not Enough (1999)', 'Die Another Day (2002)'], ['Casino Royale (2006)', 'Quantum of Solace (2008)', 'Skyfall (2012)', 'Spectre (2015)']]

**2)** How many movies were played by the first actor to play James Bond?

In [ ]:
#list of 007 movies where Sean Connery features James Bond
moviesSeanConnery = ["Dr. No (1962)",
"From Russia with Love (1963)",
"Goldfinger (1964)",
"Thunderball (1965)",
"You Only Live Twice (1967)",
"Diamonds Are Forever (1971)",
"Never Say Never Again (1983)"]

len(moviesSeanConnery)  # Calculates the number of elements in the list.

7

**3)** How many movies were played by the last actor to play James Bond?

In [ ]:
#list of 007 movies where Daniel Craig features James Bond
moviesDanielCraig=["Casino Royale (2006)",
"Quantum of Solace (2008)",
"Skyfall (2012)",
"Spectre (2015)"]

len(moviesDanielCraig)

4

**4)** How many actors played the role of James Bond?

In [ ]:
#Create a list of lists (movies007). This list will contain each actor's list of movies.
Movies = [moviesSeanConnery, moviesDavidNeven, moviesGeorgeLazenby, moviesRogerMoore,
          moviesTimothyDalton, moviesPierceBrosnan, moviesDanielCraig]

actors_number = len(Movies).  # Calculates the number of elements in the list.
print(actors_number)

7

**5)**  Create a new list with the number of movies played by each actor

In [ ]:
#Create a list of lists (movies007). This list will contain each actor's list of movies.
Movies = [moviesSeanConnery, moviesDavidNeven, moviesGeorgeLazenby, moviesRogerMoore,
          moviesTimothyDalton, moviesPierceBrosnan, moviesDanielCraig]

movies_number = []. # store the number of movies for each actor
for each_movies in Movies:  # Loop through each actor's movie list
    movies_number.append(len(each_movies)). # Append the number of movies of the actor into movies_number
print(movies_number)

[7, 1, 1, 7, 2, 4, 4]

**6)**  How many movies were played by the actor who appeared most often in movies?

In [ ]:
# The answer to this question is based on the 5 question.

#Create a list of lists (movies007). This list will contain each actor's list of movies.
Movies = [moviesSeanConnery, moviesDavidNeven, moviesGeorgeLazenby, moviesRogerMoore,
          moviesTimothyDalton, moviesPierceBrosnan, moviesDanielCraig]

movies_number = []
for each_movies in Movies:
    movies_number.append(len(each_movies))

print(max(movies_number))

7

**7)**  How many movies were played by the actor who appeared in fewer movies?

In [ ]:
# The answer to this question is based on the 5 question.

Movies = [moviesSeanConnery, moviesDavidNeven, moviesGeorgeLazenby, moviesRogerMoore,
          moviesTimothyDalton, moviesPierceBrosnan, moviesDanielCraig]
movies_number = []
for each_movies in Movies:
    movies_number.append(len(each_movies))

print(min(movies_number))

1

**8)**  Create a new list (movies007a) with all the films.

In [ ]:
#创建一个新列表（movies007a），包含所有电影。

#Create a list of lists (movies007). This list will contain each actor's list of movies.
Movies = [moviesSeanConnery, moviesDavidNeven, moviesGeorgeLazenby,
             moviesRogerMoore, moviesTimothyDalton, moviesPierceBrosnan,
             moviesDanielCraig]

Movies007 = []  # Initialize an empty list to store all actors' movie lists  初始化一个空列表，用于存放所有演员的电影列表

for each_movies in Movies:   # Loop through each actor's movie list
    Movies007.extend(each_movies).  # extend each actor's movie list to Movies007

print(Movies007)

['Dr. No (1962)', 'From Russia with Love (1963)', 'Goldfinger (1964)', 'Thunderball (1965)', 'You Only Live Twice (1967)', 'Diamonds Are Forever (1971)', 'Never Say Never Again (1983)', 'Casino Royale (1967)', "On Her Majesty's Secret Service (1969)", 'Live and Let Die (1973)', 'The Man with the Golden Gun (1974)', 'The Spy Who Loved Me (1977)', 'Moonraker (1979)', 'For Your Eyes Only (1981)', 'Octopussy (1983)', 'A View to a Kill (1985)', 'The Living Daylights (1987)', 'Licence to Kill (1989)', 'GoldenEye (1995)', 'Tomorrow Never Dies (1997)', 'The World Is Not Enough (1999)', 'Die Another Day (2002)', 'Casino Royale (2006)', 'Quantum of Solace (2008)', 'Skyfall (2012)', 'Spectre (2015)']

**9)** Sort the elements of the list

In [ ]:
#Create a list . This list will contain each actor's.
actors = ["Sean Connery", "David Neven", "George Lazenby", "Roger Moore",
          "Timothy Dalton", "Pierce Brosnan", "Daniel Craig"]

#Create a list of lists (movies007). This list will contain each actor's list of movies.
Movies = [moviesSeanConnery, moviesDavidNeven, moviesGeorgeLazenby,
             moviesRogerMoore, moviesTimothyDalton, moviesPierceBrosnan,
             moviesDanielCraig]

movies_number = []
for each_movies in Movies:
    movies_number.append(len(each_movies))
print(movies_number)

for actor, number in sorted(zip(actors, movies_number)):
  print(f"{actor}: {number} movies")

[7, 1, 1, 7, 2, 4, 4]
Daniel Craig: 4 movies
David Neven: 1 movies
George Lazenby: 1 movies
Pierce Brosnan: 4 movies
Roger Moore: 7 movies
Sean Connery: 7 movies
Timothy Dalton: 2 movies

**9)** Reverse the order of the list. What will happen if this method is executed twice? Does this method sort the list if it is not sorted?

In [ ]:
actors = ["Sean Connery", "David Neven", "George Lazenby", "Roger Moore",
          "Timothy Dalton", "Pierce Brosnan", "Daniel Craig"]

Movies = [moviesSeanConnery, moviesDavidNeven, moviesGeorgeLazenby,
             moviesRogerMoore, moviesTimothyDalton, moviesPierceBrosnan,
             moviesDanielCraig]

movies_number = []
for each_movies in Movies:
    movies_number.append(len(each_movies))
print(movies_number)

for actor, number in sorted(zip(actors, movies_number), reverse = True):
  print(f"{actor}: {number} movies")

[7, 1, 1, 7, 2, 4, 4]
Timothy Dalton: 2 movies
Sean Connery: 7 movies
Roger Moore: 7 movies
Pierce Brosnan: 4 movies
George Lazenby: 1 movies
David Neven: 1 movies
Daniel Craig: 4 movies

**10)** What is the index of the movie "Spectre (2015)" in the list of movies

In [ ]:
Movies = [moviesSeanConnery, moviesDavidNeven, moviesGeorgeLazenby,
             moviesRogerMoore, moviesTimothyDalton, moviesPierceBrosnan,
             moviesDanielCraig]
print(Movies[-1][-1])
print(Movies[6][3])

Spectre (2015)
Spectre (2015)

**11)** Add the movie "007 and the bad Guy of the climate change (2020)" in the 11th position.

In [ ]:
Movies = [moviesSeanConnery, moviesDavidNeven, moviesGeorgeLazenby,
             moviesRogerMoore, moviesTimothyDalton, moviesPierceBrosnan,
             moviesDanielCraig]

Movies007 = []

for each_movies in Movies:
    Movies007.extend(each_movies)

print(Movies007)
Movies007.insert(10, "007 and the bad Guy of the climate change (2020)")
print(Movies007)

['Dr. No (1962)', 'From Russia with Love (1963)', 'Goldfinger (1964)', 'Thunderball (1965)', 'You Only Live Twice (1967)', 'Diamonds Are Forever (1971)', 'Never Say Never Again (1983)', 'Casino Royale (1967)', "On Her Majesty's Secret Service (1969)", 'Live and Let Die (1973)', 'The Man with the Golden Gun (1974)', 'The Spy Who Loved Me (1977)', 'Moonraker (1979)', 'For Your Eyes Only (1981)', 'Octopussy (1983)', 'A View to a Kill (1985)', 'The Living Daylights (1987)', 'Licence to Kill (1989)', 'GoldenEye (1995)', 'Tomorrow Never Dies (1997)', 'The World Is Not Enough (1999)', 'Die Another Day (2002)', 'Casino Royale (2006)', 'Quantum of Solace (2008)', 'Skyfall (2012)', 'Spectre (2015)']
['Dr. No (1962)', 'From Russia with Love (1963)', 'Goldfinger (1964)', 'Thunderball (1965)', 'You Only Live Twice (1967)', 'Diamonds Are Forever (1971)', 'Never Say Never Again (1983)', 'Casino Royale (1967)', "On Her Majesty's Secret Service (1969)", 'Live and Let Die (1973)', '007 and the bad Guy of the climate change (2020)', 'The Man with the Golden Gun (1974)', 'The Spy Who Loved Me (1977)', 'Moonraker (1979)', 'For Your Eyes Only (1981)', 'Octopussy (1983)', 'A View to a Kill (1985)', 'The Living Daylights (1987)', 'Licence to Kill (1989)', 'GoldenEye (1995)', 'Tomorrow Never Dies (1997)', 'The World Is Not Enough (1999)', 'Die Another Day (2002)', 'Casino Royale (2006)', 'Quantum of Solace (2008)', 'Skyfall (2012)', 'Spectre (2015)']

**12)** It was a mistake. Remove the movie "007 and the bad Guy of the climate change (2020)"

In [ ]:
Movies = [moviesSeanConnery, moviesDavidNeven, moviesGeorgeLazenby,
             moviesRogerMoore, moviesTimothyDalton, moviesPierceBrosnan,
             moviesDanielCraig]

Movies007 = []

for each_movies in Movies:
    Movies007.extend(each_movies)

print(Movies007)
Movies007.pop(10)
print(Movies007)

['Dr. No (1962)', 'From Russia with Love (1963)', 'Goldfinger (1964)', 'Thunderball (1965)', 'You Only Live Twice (1967)', 'Diamonds Are Forever (1971)', 'Never Say Never Again (1983)', 'Casino Royale (1967)', "On Her Majesty's Secret Service (1969)", 'Live and Let Die (1973)', 'The Man with the Golden Gun (1974)', 'The Spy Who Loved Me (1977)', 'Moonraker (1979)', 'For Your Eyes Only (1981)', 'Octopussy (1983)', 'A View to a Kill (1985)', 'The Living Daylights (1987)', 'Licence to Kill (1989)', 'GoldenEye (1995)', 'Tomorrow Never Dies (1997)', 'The World Is Not Enough (1999)', 'Die Another Day (2002)', 'Casino Royale (2006)', 'Quantum of Solace (2008)', 'Skyfall (2012)', 'Spectre (2015)']
['Dr. No (1962)', 'From Russia with Love (1963)', 'Goldfinger (1964)', 'Thunderball (1965)', 'You Only Live Twice (1967)', 'Diamonds Are Forever (1971)', 'Never Say Never Again (1983)', 'Casino Royale (1967)', "On Her Majesty's Secret Service (1969)", 'Live and Let Die (1973)', 'The Spy Who Loved Me (1977)', 'Moonraker (1979)', 'For Your Eyes Only (1981)', 'Octopussy (1983)', 'A View to a Kill (1985)', 'The Living Daylights (1987)', 'Licence to Kill (1989)', 'GoldenEye (1995)', 'Tomorrow Never Dies (1997)', 'The World Is Not Enough (1999)', 'Die Another Day (2002)', 'Casino Royale (2006)', 'Quantum of Solace (2008)', 'Skyfall (2012)', 'Spectre (2015)']

In [ ]:
•Create a program that simulates rolling dice using OOP. •创建一个使用面向对象编程 (OOP) 模拟掷骰子的程序。

•Define a Dice class with:                             •定义一个 Dice 类，其中包含：
•an attribute sides (default = 6),                                 •属性 sides（默认值 = 6），
•a method roll() that returns a random number between 1 and sides. •方法 roll()，返回 1 到 sides 之间的随机数。

•Define a Player class with:
•a name,
•a method play() that rolls a dice and stores the result.  方法 play() 掷骰子并存储结果。

•Create two players and let them roll a dice.
The program announces who won (higher roll) or if it’s a tie.

In [48]:
import random

class Dice:
  def __init__(self, sides=6):
    self.sides = sides

  def roll(self):
    return random.randint(1, self.sides)


class Player:
  def __init__(self, name):
    self.name = name

  def play(self, dice):
    return dice.roll()

player1 = Player("B")
player2 = Player("A")
#dice = Dice()

print(player1.play(dice))

6