<a href="https://colab.research.google.com/github/AveryGaoo/Colab-notebooks/blob/main/week2_03DataStrutures_%5B4_types_overview%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Iterate though a list
shoppingList = [1,'a', 'apple']
for purchase in shoppingList:
  print(purchase)

1
a
apple

In [3]:
# Add an item to a list
films =[]
films.append('Vice')
films.append('Green Book')
films.append('Roma')
films.append('A Star Is Born')
print(films)

['Vice', 'Green Book', 'Roma', 'A Star Is Born']

In [13]:
# Remove elements --> .pop()
films = ['Vice', 'Green Book', 'Roma', 'A Star Is Born']
films.pop()
print(films)

['Vice', 'Green Book', 'Roma']

In [14]:
# Remove elements --> .remove(content)
films = ['Vice', 'Green Book', 'Roma', 'A Star Is Born']
films.remove('A Star Is Born')
print(films)

['Vice', 'Green Book', 'Roma']

In [3]:
# Remove elements --> del films[a] (int == a < len(films))
films = ['Vice', 'Green Book', 'Roma', 'A Star Is Born']
del films[1]
print(films)

['Vice', 'Roma', 'A Star Is Born']

In [20]:
# Remove elements --> del films[a:b]
films = ['Vice', 'Green Book', 'Roma', 'A Star Is Born']
del films[1:3]
print(films)

['Vice', 'A Star Is Born']

In [35]:
# Delete List elements --> .clear(): takes no arguments
films = ['Vice', 'Green Book', 'Roma', 'A Star Is Born']
films.clear()
print(films)

[]

In [38]:
# Compress list
squares = [x**2 for x in range(1, 4)]
print(squares)

[1, 4, 9]

In [39]:
# Slicing the list --> Obtain the first x elements of the list
shoppingList = ['potatoes', 'carrots', 'cod', 'sprouts']
firstThree = shoppingList [: 3]
print (firstThree)

['potatoes', 'carrots', 'cod']

In [40]:
# = can influence
shoppingList = ['milk', 'butter', 'cheese']
shopping = shoppingList
shoppingList.append('orange')
print(shopping)

['milk', 'butter', 'cheese', 'orange']

In [49]:
# .copy() can't influence
shoppingList = ['milk', 'butter', 'cheese']
shopping = shoppingList.copy()
shoppingList.append('orange')
print(shopping)

['milk', 'butter', 'cheese']

In [54]:
# tuples are immutable
newPurchases= ('bananas', 'beans', 'rice')
print (newPurchases [1])

beans

In [56]:
# tuples are immutable
newPurchases= ('bananas', 'beans', 'rice')
newPurchases[1] = 'apple'  #TypeError: 'tuple' object does not support item assignment
print (newPurchases [1])

TypeError: 'tuple' object does not support item assignment

In [10]:
# set:{} --> unordered & unique
Set1 = {1,2,3,4}
Set2 = {4,3,2,1}
Set3 = {2,3,4,1,2,3,4}
print(Set1 == Set2 == Set3)
print(Set3)

True
{1, 2, 3, 4}

In [22]:
# Set --> intersection(&), union(|), difference(-), Symmetric Difference(^)
Set1 = {1,2,3,4,9}
Set2 = {1,2,3,4,5,6,6}

intersection = Set1 & Set2 # both have --> {1, 2, 3, 4}
print(intersection)

union = Set1 | Set2  # whole --> {1, 2, 3, 4, 5, 6, 9}
print(union)

difference = Set2 - Set1  # Set2 as a refercence --> {5,6}
print(difference)
difference2 = Set1 - Set2  # Set1 as a refercence --> {9}
print(difference2)

symmetric_difference = Set1 ^ Set2  # union - intersection --> {5, 6, 9}
print(symmetric_difference)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 9}
{5, 6}
{9}
{5, 6, 9}

In [28]:
# dictionary --> Add a new key-value pair
fruit = {'a':'apple', 2:'banana', 'bob':'cherry'}
print(fruit)
fruit[10] = 'pomegranate'
print(fruit)

{'a': 'apple', 2: 'banana', 'bob': 'cherry'}
{'a': 'apple', 2: 'banana', 'bob': 'cherry', 10: 'pomegranate'}

In [45]:
# dictionary --> Iterating through key-value pair
fruit = {'a':'apple', 2:'banana', 'bob':'cherry'}
for key, value in fruit.items():
  print(key, value)
  print(key)
  print('The fluit ' + str(key) + ' is ' + value)
print(key[1])

a apple
a
The fluit a is apple
2 banana
2
The fluit 2 is banana
bob cherry
bob
The fluit bob is cherry
o

In [ ]:
# In dictionary, keys are not repeatable.

In [52]:
# dictionary --> Iterating
fruit = {'a':'apple', 2:'banana', 'bob':'cherry'}

for key in fruit.keys():
  print(str(key).capitalize() + ' is key.')

for value in fruit.values():
  print(value.capitalize() + ' is fruit.')

A is key.
2 is key.
Bob is key.
Apple is fruit.
Banana is fruit.
Cherry is fruit.

In [53]:
"""
Data Types      Ordered       Mutable     unique
------------------------------------------------
List  -> []       Yes           Yes         No
Tuple -> ()       Yes            No         No
Set   -> {}        No           Yes        Yes
dict  -> {}        No           Yes        Yes (不接受重复的key，后面的会覆盖前面的;可以接受重复的value)
"""

1